

body {
    background-color: cornflowerblue;
    color: #fff;
}

section {
    background-color: #fff;
}

#profil {
    background-color: red;
    padding: 74px;
    margin: 55px;
    border: 10px dotted;
    transition: 1s;
}

#profil:hover {
    background-color: gold;
    color: black;
    border-radius: 50px;
    box-shadow: 10px 10px black;
    transform: translateY(-100px);
}

.test {
    background-color: green;
}

#umiejetnosci {
    color: black;
}