body {
    background-color: #f1f1f1;
    font-family: sans-serif;
    margin: 0;
}

hr {
    width: 90%;
    border-top: 1px solid lightgray;
}

li::marker {
    color: teal;
}

table {
    margin: 0 auto;
}

table img {
    width: 250px;
    height: 250px;
    transition: .5s;
}

table img:hover {
    scale: 1.1;
}

table td {
    overflow: hidden;
}

.container {
    width: 1400px;
    margin: 16px auto;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.left-column {
    background-color: #fff;
    width: 30%;
    box-shadow: 0px 5px 15px gray;
    position: sticky;
    top: 16px;
}

.profile-photo {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: top;
}

.name {
    margin-left: 8px;
    font-size: 50px;
}

.basic-info {
    margin: 10px 8px;
}

.basic-info i {
    color: teal;
    margin-right: 8px;
}

.skills {
    margin: 8px;
}

.skills i,
.section i {
    margin-right: 8px;
    color: teal;
}

.progress {
    background-color: #f1f1f1;
    border-radius: 8px;
    margin: 8px 0;
}

.progress-fill {
    background-color: teal;
    border-radius: 8px;
    text-align: center;
    color: #f1f1f1;
    font-size: small;
}

.custom-height {
    height: 15px;
}

.right-column {
    width: 65%;
    margin-left: 16px;
}

.section {
    background-color: #fff;
    margin-bottom: 16px;
    box-shadow: 0px 5px 15px gray;
    padding: 16px;
}

.employment-time {
    color: teal;
}

.footer {
    background-color: teal;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}